body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-container {
    width: 1000px;
    display: inline-block;
    margin-top: 80px;
    margin-left: calc(50% - 500px);
}

.float-img {
    width: 25%;
    float: left;
    padding: 0 30px;
    text-align: center;
    position: relative;
}
.heading {
    text-align: center;
    text-transform: uppercase;
    color: red;
    margin: 20px 0;
}
.text {
    text-align: center;
    line-height: 1.5;
}

img {
    width: 100%;
    height: 190px;
    filter: invert(100%);
    border-radius: 7px;
}
.green {
    background-color: aqua;
}
.blue { background-color: blue;
}
.red {
    background-color: red;
}
.gray {
    background-color: gray;
}
span {
    font-size: 23px;
    border-radius: 50%;
    padding: 0 8px;
    position: absolute;
    left: 22px;
    top: -12px;
    background-color: white;
}
span.one {
    border: 2px solid red;
    color: red;
}
span.two {
    border: 2px solid yellow;
    color:yellow
}
span.three {
    border: 2px solid aqua;
    color: aqua;
}
span.four {
    border: 2px solid gray;
    color: gray;
}
